header {
    max-width: 960px;
    margin: 0 auto;
    background-image: url("../images/hotel.jpg");
    height: 280px;
}

#company {
    font-size: 40px;
}

main, footer {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    position: relative;
    left: 20px;
    color: white;
    font-size: 50px;
}

p {
    background-color: teal;
    display: flex;
    justify-content: left;
    background-color: rgb(133, 195, 216);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 6px; 
    margin: 10px 10px 10px 5px;
    width: 300px;
}

.hotels {
    list-style-type: none;
    padding: 0px;
    
}

a {
    display: flex;
    justify-content: center;
    background-color: rgb(133, 195, 216);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 3px; 
    margin: 10px 10px 10px 5px;
    width: 300px;
}

#rooms {
    margin: 0px 0px 0px 10px;
}

#gym {
    margin: 0px 0px 0px 10px;
}

#type {
    margin: 0px 0px 0px 10px;
}

#pageName {
    color: black;
    font-size: 30px;
}

header h2 {
    position: relative;
    left: 20px;
    color: white;
}

main h2 {
    color: black;;
}

#fortune {
    color: #271560;
    font-size: 30px;
    font: bold;
    text-transform: uppercase;
    font-family: sans-serif;

}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(133, 195, 216);
    font-size: 20px;
    color: white;
}

ul {
    font-size: large;
}