header {
    max-width: 960px;
    margin: 0 auto;
    background-image: url("../images/story.jpg");
    height: 280px;
}

#company {
    font-size: 40px;
}

main, footer {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    position: relative;
    left: 20px;
    color: black;
    font-size: 50px;
 
}

#pageName {
    color: black;
    font-size: 30px;
}

header h2 {
    
    position: relative;
    left: 20px;
    color: black;
}

main h2 {
    color: black;;
    height: 20px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: darkseagreen;
    font-size: 20px;
}

ul {
    font-size: large;
}

article {
   display: inline-block;
   margin: 1em;
}

textarea{
    display: flex;
    width: 250px;
    height: 150px;
    resize: none;
}

button {
    border-radius: 15px;
    padding: .4em;
    margin: .4em 0;
    width: 18%;
    background-color: darkseagreen;
}

p {
    color: darkred;
    font-size: 20px;        
}









